<%- include('header',{title: 'Trang Chủ'}); -%>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">KingWolf</a>
      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav nav ml-auto">
          <li class="nav-item"><a href="#home-section" class="nav-link"><span>Trang chủ</span></a></li>
          <li class="nav-item"><a href="#gioi-thieu" class="nav-link"><span>Giới thiệu</span></a></li>
          <li class="nav-item"><a href="#nguoi-sang-lap" class="nav-link"><span>Người sáng lập</span></a></li>
          <li class="nav-item"><a href="#lien-he" class="nav-link"><span>Contact</span></a></li>
          <li class="nav-item"><a href="/dangnhap" class="nav-link"><span>Đăng Nhập</span></a></li>
          <li class="nav-item cta"><a href="/dangky" class="nav-link"><span>Đăng ký</span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="hero-wrap js-fullheight" style="background-image: url('index/images/bg_1.jpg');" data-section="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Bạn cần mở tài khoản thanh toán online ?</h1>
        <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Muốn mở số tiết kiệm hoặc thanh toán nhanh các dịch vụ điện, nước,... Hãy nhanh tay đăng ký mở tài khoản để nhận ưu đãi từ ngân hàng</p>
        <p><a href="/dangky" class="btn btn-primary py-3 px-4" ">Đăng Ký</a></p>
        <!-- data-toggle="modal" data-target="#modalAppointment -->
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter ftco-no-pt ftco-no-pb img" id="section-counter">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-end">
            <div class="col-lg-12">
                <div class="ftco-counter-wrap">
                    <div class="row no-gutters d-md-flex align-items-center align-items-stretch">
                  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                      <div class="text">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="flaticon-house"></span>
                          </div>
                        <strong class="number" data-number="50">0</strong>
                        <span>Ngày thành lập</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                      <div class="text">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="flaticon-handshake"></span>
                          </div>
                        <strong class="number" data-number="10000">0</strong>
                        <span>Khách hàng đáng tin cậy</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                      <div class="text">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="flaticon-money"></span>
                          </div>
                        <strong class="number" data-number="100">0</strong>
                        <span>Uy tín</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                      <div class="text">
                          <div class="icon d-flex justify-content-center align-items-center">
                              <span class="flaticon-medal"></span>
                          </div>
                        <strong class="number" data-number="300">0</strong>
                        <span>Danh hiệu &amp; giải thưởng</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
      </div>
    </div>
    </div>
</section>

<section class="ftco-about ftco-no-pt ftco-no-pb img ftco-section bg-light" id="gioi-thieu">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-6 d-flex order-md-last">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="img d-flex align-self-stretch align-items-end" style="background-image:url(index/images/bg-logo.jpg);">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pr-lg-5 py-3 py-lg-5">
                <div class="row justify-content-start py-3 py-lg-5">
                  <div class="col-md-12 heading-section ftco-animate">
                      <span class="subheading">Welcome</span>
                    <h2 class="mb-4" style="font-size: 44px; text-transform: capitalize;">Welcome to KingWolf Bank</h2>
                    <p>KingWolf bank là một ngân hàng demo được thành lập từ nhóm học sinh đang theo học tại trường Đại học. Xây dựng một hệ thống đơn giản và dễ sử dụng nhất, hệ thống nhầm phục vụ trong việc học tập và thử nghiệm đồ án</p>
                    <p>KingWolf Team rất cám ơn các bạn!</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>



    
<section class="ftco-section bg-light" id="nguoi-sang-lap">
    <div class="container">
        <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
          <span class="subheading">About Us</span>
        <h2 class="mb-4">Người xây dựng website</h2>
        <p> I NEVER LOSE EITHER I WIN, OR I LEARN.</p>
        
      </div>
    </div>
    <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url(index/images/staff-1.jpg);"></div>
                        </div>
                        <div class="text d-flex align-items-center pt-3 text-center">
                            <div>
                                <h3 class="mb-2">Nguyễn Hoàng Trọng Nhân</h3>
                                <span class="position mb-4">Trưởng nhóm</span>
                                <div class="faded">
                                    <ul class="ftco-social text-center">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                  </div>
                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url(index/images/staff-2.jpg);"></div>
                        </div>
                        <div class="text d-flex align-items-center pt-3 text-center">
                            <div>
                                <h3 class="mb-2">Nguyễn Đặng Bình Minh</h3>
                                <span class="position mb-4">Thành viên </span>
                                <div class="faded">
                                    <ul class="ftco-social text-center">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                  </div>
                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url(index/images/staff-3.jpg);"></div>
                        </div>
                        <div class="text d-flex align-items-center pt-3 text-center">
                            <div>
                                <h3 class="mb-2">Nguyễn Thị Tâm Như</h3>
                                <span class="position mb-4">Thành viên</span>
                                <div class="faded">
                                    <ul class="ftco-social text-center">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                  </div>
                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url(index/images/staff-4.jpg);"></div>
                        </div>
                        <div class="text d-flex align-items-center pt-3 text-center">
                            <div>
                                <h3 class="mb-2">Lê Anh Kiệt</h3>
                                <span class="position mb-4">Thành Viên</span>
                                <div class="faded">
                                    <ul class="ftco-social text-center">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                      </ul>
                  </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>


<section class="ftco-section contact-section ftco-no-pb bg-light" id="lien-he">
  <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <span class="subheading">Liên Hệ</span>
        <h2 class="mb-4">Liện hệ với chúng tôi</h2>
        <p> I NEVER LOSE EITHER I WIN, OR I LEARN.</p>
      </div>
    </div>
    <div class="row d-flex contact-info mb-5">
      <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-map-signs"></span>
              </div>
              <h3 class="mb-4">Address</h3>
            <p>198 West 21th Street, Suite 721 New York NY 10016</p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-phone2"></span>
              </div>
              <h3 class="mb-4">Contact Number</h3>
            <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-paper-plane"></span>
              </div>
              <h3 class="mb-4">Email Address</h3>
            <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
          </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
              <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-globe"></span>
              </div>
              <h3 class="mb-4">Website</h3>
            <p><a href="#">yoursite.com</a></p>
          </div>
      </div>
    </div>
    

      <div class="col-md-6 d-flex">
          <div id="map" class="bg-white"></div>
      </div>
    </div>
  </div>
</section>
    

<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About <span>Neutral</span></h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Practice Areas</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Attorneys</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Blog</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Practice Areas</h2>
          <ul class="list-unstyled">
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Family Law</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Business Law</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Insurance Law</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Criminal Law</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Drug Offenses</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Property Law</a></li>
            <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Employment Law</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-0">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
              </ul>
            </div>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>



<%- include('footer'); -%>