<!DOCTYPE html>
<html lang="viewport">
<!-- begin::Head -->

<head>
    <meta charset="utf-8" />
    <title>KingWolf Bank |
        <%=title%>
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="/">
    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({

            google: {
                "families": [
                    "Poppins:300,400,500,600,700"
                ]
            },

            active: function() {

                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="kw/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles -->
    <!--begin::Select styles form title -->
    <link href="kw/app/custom/user/profile-v1.default.css" rel="stylesheet" type="text/css" /> 
    <!--end::Select styles form title -->
    <!--begin:: Global Mandatory Vendors -->
    <link href="kw/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Mandatory Vendors -->

    <!--begin:: Global Optional Vendors -->
    <link href="kw/vendors/general/animate.css/animate.css" rel="stylesheet" type="text/css" />
    <link href="kw/vendors/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />
    <link href="kw/vendors/general/socicon/css/socicon.css" rel="stylesheet" type="text/css" />
    <link href="kw/vendors/custom/vendors/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    <link href="kw/vendors/custom/vendors/flaticon/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="kw/vendors/custom/vendors/flaticon2/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="kw/vendors/custom/vendors/fontawesome5/css/all.min.css" rel="stylesheet" type="text/css" />
    <!--end:: Global Optional Vendors -->

    <!--begin::Global Theme Styles(used by all pages) -->
    
    <link href="kw/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="kw/demo/default/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="kw/demo/default/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="kw/demo/default/skins/brand/navy.css" rel="stylesheet" type="text/css" />
    <link href="kw/demo/default/skins/aside/navy.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="kw/media/logos/favicon.ico" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">